form {
  border: 3px solid #1976D2;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.name,
.description,
.date,
.participants,
.submit {
  margin: 1rem 0;
}

input[type="text"],
textarea {
  border: 2px solid #1976D2;
  border-radius: 5px;
  width: 100%; 
  padding: 0.5rem;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #2196F3;
}

p {
  padding: 0.5rem
}

input {
  font-size: 1.5rem;
}

textarea {
  font-style: italic;
  font-size: 1rem;
  resize: none;
}

.participants input{
  font-size: 1rem;
}

.date {
  display: flex;
}

.date p {
  flex: 2;
}

.date input {
  flex: 1;
}

.link-back {
  display: flex;
  margin-top: 0.5rem;
}

.link-back p {
  padding: 0;
}

.participants-disabled {
  display: none;
}


.submit input {
  margin: 0 auto;
}

.error-message {
  font-size: 0.5em;
  font-style: italic;
  display: block;
  padding: 0.3em 0 0 0.3em;
  opacity: 0;
}

.success-message {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  opacity: 0;
}

.show {
  animation-name: message;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 640px) {
  main,
  header {
    width: 100%;
  }
}